@import "tailwindcss";

:root {
    --color-item-hover: rgba(200, 200, 255, 0.05);
    --color-item-selected: rgba(255, 255, 255, 0.1);
    --bg-color: #1e1e2e;
    --tile-bg-color: rgba(0, 0, 0, 0.2);
    --dim-text-color: hsl(220, 15%, 40%);
    --text-color: hsl(220, 25%, 60%);
    --bright-text-color: hsl(220, 25%, 70%);
    --tile-border-color: rgba(255, 255, 255, 0.3);
    --muted-text-color: hsl(220, 15%, 25%);
    --gap: 5px;
    --mention-color: rgb(255, 100, 100);
    --presence-online-color: rgb(100, 255, 100);
    --presence-idle-color: rgb(255, 255, 100);
    --presence-busy-color: rgb(255, 100, 100);
    --presence-offline-color: rgb(150, 150, 150);
    --accent-color: #46aec5;
    --header-height: 46px;
    --floating-border-radius: 8px;
    --ui-base-color: rgba(255, 255, 255, 0.3);
    --ui-hover-color: rgba(255, 255, 255, 0.8);
    --ui-floating-bg: rgba(0, 0, 0, 0.2);
    --ui-border-radius: 6px;
    --ui-hover-bg: rgba(255, 255, 255, 0.075);
    --link-color: #5865f2;
}

@utility text-token {
    white-space: pre-wrap;
    cursor: text;
    line-height: 1;
}

@theme {
    --font-sans: "AppFont", ui-sans-serif, system-ui, sans-serif;
}

@utility bg {
    background-color: var(--bg-color, #1e1e2e);
}

@utility avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@utility avatar-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    font-weight: 500;
    flex-shrink: 0;
}

@utility user-name {
    color: #dbdee1;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

@utility text-dim {
    color: var(--dim-text-color, red);
}

@utility text-normal {
    color: var(--text-color, #dbdee1);
}

@utility text-bright {
    color: var(--bright-text-color, #ffffff);
}

@utility text-muted {
    color: var(--muted-text-color, #5865f2);
}
