@import "tailwindcss";

:root {
    --color-item-hover: rgba(200, 200, 255, 0.05);
    --color-item-selected: rgba(255, 255, 255, 0.1);
    --bg-color: #1e1e2e;
    --tile-bg-color: rgba(0, 0, 0, 0.3);
    --opaque-tile-bg-color: rgba(20, 20, 30, 0.7);

    --dim-text-color: hsl(220, 15%, 40%);
    --text-color: hsl(220, 25%, 65%);
    --bright-text-color: hsl(220, 25%, 95%);
    --muted-text-color: hsl(220, 15%, 25%);

    --tile-border-color: rgba(255, 255, 255, 0.175);
    --gap: 5px;
    --mention-color: rgb(255, 100, 100);

    --accent-color: #46aec5;
    --focus-color: rgb(from var(--accent-color) r g b / 60%);
    --accent-bg-color: #183c43;
    --accent-text-color: #181825;

    --header-height: 50px;
    --floating-border-radius: 8px;
    --ui-base-color: rgba(255, 255, 255, 0.3);
    --ui-hover-color: rgba(255, 255, 255, 0.8);

    --ui-floating-bg: rgba(0, 0, 0, 0.2);
    --ui-floating-hover-bg: rgba(0, 0, 0, 0.4);

    --ui-solid-bg: #04040c;
    --ui-solid-hover-bg: #1e1e2e;

    --ui-border-radius: 6px;
    --ui-hover-bg: rgba(255, 255, 255, 0.075);
    --link-color: var(--accent-color);

    --confirm-color: #2b7fff;
    --confirm-hover-color: #184890;
    --confirm-text-color: #ffffff;

    --online-color: #23a55a;
    --idle-color: #f9e2af;
    --busy-color: #da7d9b;
    --offline-color: #6a6a6a;
    --system-button-size: 14px;
    --system-button-padding: calc(
        var(--header-height) / 2 - var(--system-button-size) / 2
    );

    --overlay-bg-color: rgba(0, 0, 0, 0.5);
    --result-highlight-color: rgba(200, 200, 64, 0.7);
}

@utility text-token {
    white-space: pre-wrap;
    line-height: 1;
}

@utility bdf {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}

@utility bdf-text {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

@theme {
    --font-sans: "AppFont", ui-sans-serif, system-ui, sans-serif;
}

@utility bg {
    background-color: var(--bg-color, #1e1e2e);
}

@utility avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@utility avatar-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    font-weight: 500;
    flex-shrink: 0;
}

@utility user-name {
    color: #f2f3f5;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

@utility text-dim {
    color: var(--dim-text-color, red);
}

@utility text-normal {
    color: var(--text-color, #f2f3f5);
}

@utility text-bright {
    color: var(--bright-text-color, #ffffff);
}

@utility text-muted {
    color: var(--muted-text-color, #a2aeff);
}

@utility typing-indicator {
    animation: grow-change-color 1.4s infinite ease-in-out both;
    background-color: var(--muted-text-color);
}

@keyframes grow-change-color {
    0%,
    40%,
    100% {
        transform: scale(0.7);
        background-color: var(--muted-text-color);
    }
    20% {
        transform: scale(1);
        background-color: var(--text-color);
    }
}

/* Let animation run once */
@utility animate-highlight {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: -1px;
        border: 2px solid var(--accent-color);
        border-radius: inherit;
        pointer-events: none;
        animation: border-accent-to-bg 4s forwards;
    }
}

@keyframes border-accent-to-bg {
    0% {
        border-color: var(--accent-color);
    }
    50% {
        border-color: var(--accent-color);
    }
    100% {
        border-color: transparent;
    }
}

video::-webkit-media-controls-panel {
    background-color: var(--tile-bg-color);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-overflow-button {
    filter: invert(1) sepia(1) saturate(0) brightness(10) opacity(0.7);
    color: var(--tile-border-color);
}

video::-webkit-media-controls-timeline,
video::-webkit-media-controls-volume-slider {
    accent-color: var(--tile-border-color);
}

video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
    color: var(--tile-border-color);
}
