@import "tailwindcss";

:root {
    --color-item-hover: rgba(200, 200, 255, 0.05);
    --color-item-selected: rgba(255, 255, 255, 0.1);
    --bg-color: #1e1e2e;
    --tile-bg-color: rgba(0, 0, 0, 0.3);
    --dim-text-color: hsl(220, 15%, 40%);
    --text-color: hsl(220, 25%, 55%);
    --bright-text-color: hsl(220, 25%, 80%);
    --tile-border-color: rgba(255, 255, 255, 0.175);
    --muted-text-color: hsl(220, 15%, 30%);
    --gap: 5px;
    --mention-color: rgb(255, 100, 100);
    --presence-online-color: rgb(100, 255, 100);
    --presence-idle-color: rgb(255, 255, 100);
    --presence-busy-color: rgb(255, 100, 100);
    --presence-offline-color: rgb(150, 150, 150);

    --accent-color: #46aec5;
    --accent-bg-color: #183c43;
    --accent-text-color: #181825;

    --header-height: 50px;
    --floating-border-radius: 8px;
    --ui-base-color: rgba(255, 255, 255, 0.3);
    --ui-hover-color: rgba(255, 255, 255, 0.8);

    --ui-floating-bg: rgba(0, 0, 0, 0.2);
    --ui-floating-hover-bg: rgba(0, 0, 0, 0.4);

    --ui-solid-bg: #0c0c14;
    --ui-solid-hover-bg: #1e1e2e;

    --ui-border-radius: 6px;
    --ui-hover-bg: rgba(255, 255, 255, 0.075);
    --link-color: #5865f2;

    --confirm-color: #2b7fff;
    --confirm-hover-color: #184890;
    --confirm-text-color: #ffffff;

    --online-color: #23a55a;
    --idle-color: #e5c100;
    --busy-color: #e53e3e;
    --offline-color: #6a6a6a;
}

@utility text-token {
    white-space: pre-wrap;
    line-height: 1;
}

@utility bdf {
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}

@utility bdf-text {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

@theme {
    --font-sans: "AppFont", ui-sans-serif, system-ui, sans-serif;
}

@utility bg {
    background-color: var(--bg-color, #1e1e2e);
}

@utility avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@utility avatar-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
    font-weight: 500;
    flex-shrink: 0;
}

@utility user-name {
    color: #dbdee1;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

@utility text-dim {
    color: var(--dim-text-color, red);
}

@utility text-normal {
    color: var(--text-color, #dbdee1);
}

@utility text-bright {
    color: var(--bright-text-color, #ffffff);
}

@utility text-muted {
    color: var(--muted-text-color, #5865f2);
}

video::-webkit-media-controls-panel {
    background-color: var(--tile-bg-color);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-overflow-button {
    filter: invert(1) sepia(1) saturate(0) brightness(10) opacity(0.7);
    color: var(--tile-border-color);
}

video::-webkit-media-controls-timeline,
video::-webkit-media-controls-volume-slider {
    accent-color: var(--tile-border-color);
}

video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
    color: var(--tile-border-color);
}
